// bootstrap stuff
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


// custom colors
$light-gray: #E7E7E7;


body {
    //background-color: #333 !important;
    color: $dark !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &.menu-open {
        overflow-y: hidden;
    }
}


/*==============================
    REPEATABLE
==============================*/


// section padding
.b-section {
    padding: 70px 0 0;
}


// title
.b-title {
    text-align: center;
    color: $dark;

    span {
        position: relative;
        padding-bottom: 10px;
        display: inline-block;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $primary;
        }
    }
}


// cursive
.b-cursive {
    font-style: italic;
    font-weight: 100;
}


// link
.b-link {
    max-width: 250px;
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: 0.25s ease-in-out;
    background-color: $primary;
    color: $light;
    letter-spacing: 0.1em;
    border: 2px solid transparent;

    &:hover {
        background-color: transparent;
        color: $primary;
        border-color: $primary;
    }
}


// not found block
.b-not-found {
    background-color: $light-gray;
    color: $dark;
    font-size: 24px;
    text-align: center;
    padding: 30px 15px;
    margin: 0 auto;
    max-width: 1140px;

    .b-link {
        margin-top: 10px;
    }
}


// when click on add / remove from cart
.b-cart-message {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 600;
    z-index: 100;

    &.added {
        background: $success;
        color: $light;
    }

    &.removed {
        background-color: $dark;
        color: $warning;
    }
}


@keyframes sliding-border {

    0% {
        top: 0;
        height: 100%;
        width: 2px;
    }

    12.5% {
        top: 0;
        left: 0;
        right: auto;
        width: 2px;
        height: 2px;
    }

    25% {
        top: 0;
        width: 100%;
    }

    37.5% {
        top: 0;
        left: auto;
        right: 0;
        width: 2px;
        height: 2px;
    }

    50% {
        top: 0;
        width: 2px;
        height: 100%;
    }

    62.5% {
        top: 100%;
        right: 0;
        left: auto;
        width: 2px;
        height: 2px;
    }

    75% {
        top: 100%;
        bottom: 0;
        width: 100%;
        height: 2px;
        left: auto;
        right: 0;
    }

    87.5% {
        width: 2px;
        height: 2px;
        right: 100%;
        top: 100%;
    }
}


/*==============================
    MENU
==============================*/


.menu {
    position: absolute;
    z-index: 100;
    left: -100%;
    width: 100%;
    height: calc(100vh - 61px);
    top: 77px;
    transition: 0.25s ease-in;
    overflow-y: auto;

    @include media-breakpoint-up(md) {
        position: static;
        width: auto;
        height: auto;
        transition: 0s;
        overflow-y: visible;
    }

    &.active {
        left: 0;
        background: rgba(0, 0, 0, 0.8);


        @include media-breakpoint-up(md) {
            background: transparent;
        }
    }


    // list
    &__list {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: flex-start;
            padding: 0;
        }

        li {
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                margin: 0 20px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            > a {
                font-size: 20px;
                text-decoration: none !important;
                padding: 5px 15px;
                position: relative;
                color: $primary;
            }
        }
    }
}


/*==============================
    MENU ITEM
==============================*/


// menu item classes (Navigation.js)
.menu-item-active,
.menu-item {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        background-color: $primary;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        transition: 0.25s linear;
    }

    &:hover {
        &:after {
            width: 100%;
            right: 0;
            left: auto;
        }
    }
}

// active item
.menu-item-active {
    &:after {
        width: 100%;
        right: 0;
        left: auto;
    }
}


/*==============================
    MENU ICON
==============================*/


.menu-icon {
    position: relative;
    width: 30px;
    height: 24px;
    border: 0;
    outline: 0;
    background: transparent;

    &:focus,
    &:hover,
    &:active {
        outline: none;
    }


    // icon elements
    span {
        position: absolute;
        height: 2px;
        background-color: $primary;
        left: 0;
        transition: 0.25s linear;

        &:nth-child(2) {
            width: 100%;
            top: calc(50% - 1px);
        }

        &:nth-child(1),
        &:nth-child(3) {
            width: 50%
        }

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(3) {
            bottom: 0
        }
    }


    // menu icon active
    &.active {

        span:nth-child(2) {
            left: -50px;
            opacity: 0;
        }

        span:nth-child(1) {
            top: 11px;
            transform: rotateZ(45deg);
            width: 100%;
        }

        span:nth-child(3) {
            bottom: 11px;
            transform: rotateZ(-45deg);
            width: 100%;
        }
    }
}


/*==============================
    HERO
==============================*/


// also available styled component for this section
.hero-home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: overlay;
    background: center no-repeat url("./images/front-image.jpg"), linear-gradient(to right, $info, $dark);
    background-size: cover;
    min-height: 100vh;
}


/*==============================
    BANNER
==============================*/


.banner {
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 560px;


    // banner content
    &__content {
        padding: 20px 15px 30px;
        text-align: center;
        color: $light;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: $primary;
            height: 100%;
            width: 2px;
            animation: 7s sliding-border linear infinite;
        }

        &:hover:after {
            background: linear-gradient(to right, $light, $primary);
        }
    }
}


/*==============================
    ABOUT US
==============================*/


.about {

    &__content {
        font-size: 20px;
        text-align: justify;
    }
}


/*==============================
    FEATURED
==============================*/


.featured {
    padding-bottom: 70px;
}


/*==============================
    POST
==============================*/


.post-box {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    padding-bottom: 25px;


    // style for inCart = true
    &.in-cart {
        background-color: $dark;
        color: $light;
    }


    // image wrapper (for hover effect)
    &__img-wrap {
        overflow: hidden;
        display: block;
    }


    // image
    &__img {
        max-width: 100%;
        height: auto;
        transition: 0.25s linear;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }


    // title
    &__title {
        padding: 25px 10px;
        text-align: center;
    }


    // link
    &__link {
        display: inline-block;
        margin-top: auto;
        text-decoration: none !important;
        color: $primary;
        align-self: center;
    }


    // buttons (remove / add) for cart
    .post-box__remove,
    .post-box__add {
        outline: none;
        background-color: $light-gray;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        z-index: 10;
        font-size: 18px;

        &:disabled {
            width: 100%;
            font-size: 16px;
            color: $warning;
            background-color: rgba(0, 0, 0, 0.7);
            cursor: default;

            &:hover {
                color: $warning;
            }
        }
    }


    // add to cart button
    .post-box__add {
        color: $dark;

        &:hover {
            color: $primary
        }
    }

    // remove from car button
    .post-box__remove {
        color: $primary;

        &:hover {
            color: $dark;
        }
    }
}


/*==============================
    SINGLE PAGE
==============================*/


.single {


    // title
    &__title {
        background: $light-gray;
        margin-bottom: 0;
        text-align: center;
        padding: 20px;
    }


    // post info
    &__post {
        display: flex;
        flex-direction: column;
        text-align: justify;
        color: $dark;
        font-size: 20px;
        background-color: $light-gray;
        padding: 20px 15px;
    }


    // tech params
    &__tech-params {
        font-size: 18px;
        margin: 30px 0 30px;

        li {
            margin-bottom: 10px;

            span {
                font-weight: 600;
                font-style: italic;
            }
        }
    }


    // buttons (remove / add) for cart
    &__button--add,
    &__button--remove {
        padding: 5px 10px;
        outline: none !important;
        border: none !important;
        background-color: transparent;
        margin-bottom: 15px;
        align-self: flex-end;
        transition: 0.25s linear;
        max-width: 200px;

        &:disabled {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: not-allowed;
        }
    }


    // add button
    &__button--add {
        background-color: $success;
        color: $light;

        &:hover {
            opacity: 0.8;
        }
    }


    // remove button
    &__button--remove {
        background-color: $dark;
        color: $warning;
    }


    // link tp pages (at the bottom)
    &__link {
        max-width: 200px;
        align-self: flex-end;
        margin-bottom: 15px;
        text-decoration: none !important;
        padding: 5px 10px;
        background-color: $primary;
        color: $light !important;
        transition: 0.25s linear;

        &:hover {
            opacity: 0.8;
        }
    }


    // price
    &__price,
    &__availability {
        margin-bottom: 15px;
    }
}


/*==============================
    CART PAGE
==============================*/


.cart {
    padding-top: 50px;
    padding-bottom: 50px;


    // remove btn
    &__remove {
        border: none !important;
        outline: none !important;
        color: $dark;
        background-color: transparent;
        font-size: 20px;
        transition: 0.25s linear;

        &:hover {
            color: $warning;
        }
    }


    // title
    &__title {
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }


    // amount buttons wrap
    &__amount-btns {
        display: flex;
        flex-direction: row;
        max-width: 120px;
        border: 1px solid $light-gray;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;

        @include media-breakpoint-up(md) {
            margin-left: auto;
        }

        span {
            font-weight: 600;
            font-size: 18px;
        }
    }


    // cart link
    &__item-link {
        margin-bottom: 10px;
        display: block;
        transition: 0.25s linear;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }

        &:hover {
            opacity: 0.8;
        }
    }


    // amount buttons
    &__increase,
    &__decrease {
        align-self: flex-start;
        width: 20px;
        font-size: 18px;
        padding: 0;
        border: 0;
        outline: none;
        background: transparent;
        display: inline-block;
        color: $dark;
        font-weight: bold;

        &:focus,
        &:hover,
        &:active {
            outline: none;
            border: none;
        }
    }


    // clear cart
    &__clear.b-link {
        background-color: $warning;
        color: $light;
        align-self: flex-end;
        margin-bottom: 10px;

        &:hover {
            border-color: $warning;
            background: transparent;
            color: $warning
        }
    }

    // link to page (at the bottom)
    &__link.b-link {
        align-self: flex-end;
    }
}


/*==============================
    LINK TO CART PAGE (placed in Navigation.js)
==============================*/


.cart-link {
    font-size: 30px;
    position: relative;
    color: $primary;


    // effect fot cart logo
    .menu-item-active,
    .menu-item {
        padding: 0 10px 7px;
    }


    // amount of items in cart
    span {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        font-weight: bold;
    }
}


/*==============================
    LOADING
==============================*/


.loading {
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 100;
    background: linear-gradient(to right, $info, $dark);
    color: $light;
    padding: 15px;


    &__box {
        position: relative;
        width: 100%;
        max-width: 400px;
        padding: 50px 15px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: $light;
            height: 100%;
            width: 2px;
            animation: 7s sliding-border linear infinite;
        }
    }
}


/*==============================
    FOOTER
==============================*/


.footer {
    margin-top: auto;
    border-top: 2px solid $light;
    padding: 30px 0;
}